[2019-09-02 14:50] bradintheusa opened #1 "Submit to https://pub.dev/"
Hi

Are you planning on adding this to https://pub.dev/.  If so I'll wait otherwise I'll grab it now.

Brad (scrbrd.com)

[2019-09-03 03:37] iamvivekkaushik commented on #1
Hi, it is already published on pub.dev here is the link https://pub.dev/packages/date_picker_timeline. I will add the same to readme.

[2019-09-03 03:38] #1 closed

[2019-09-12 15:22] peazz opened #3 "Passing date to DatePickerTimeline does not work"
[code]
Selector does not change, it stays on today

[2019-09-14 09:20] peazz commented on #3
Hey,

Thanks for sorting that out, I will get a demo for you of the calendar selection issue. I do have it in a SliverPersistentHead with some hacky code around it, I will do some further testing.

All the best

[2019-09-14 09:29] peazz commented on #3
So I updated the package gave it a test and everything is now fixed. The date selector is now initialising when I open the new page and pass through `DateTime _currentSelection = new DateTime.now().add(Duration(days: 2))`

Thanks for your help, this is resolved.

[2019-09-14 09:29] #3 closed

[2019-09-16 17:26] peazz opened #5 "Width issues between android and ios"
I have the calendar selector in a simple Container, on iOS is fits perfect, on Android Pixel 3 Simulator, the width is too small

[code]

**Expected behavior**

Between both devices I expected the same edge to edge layout,. It doesnt seem to be inheriting font styles on Android either (right screen)

**Screenshots**

https://pasteboard.co/IxHH3qh.jpg

[2019-09-16 17:34] peazz commented on #5
Edit: Font problem is located in this file: `DatePickerTimelineFlutter-master/lib/date_widget.dart:` at lines 50, 57 and 64.

If you can remove hard coded fonts or add in parameters for us to control the font and font weight that would be great

[2019-09-17 06:15] vegeta-ssaiyan opened #6 "Select Date Perimeters."
**Is your feature request related to a problem? Please describe.**
Thanks for creating this Vivek. An issue I have is that the dates are continuous. It will be great if we are able to specify the dates we want the date picker to run for.

**Describe the solution you'd like**
A function that allows to specify the number of days, weeks, months from DateTime.now().
Or the function the allows us to ad

[2019-09-17 06:36] iamvivekkaushik commented on #5
Hi @peazz, thanks for pointing this out. I will add the option to manage the font and create the release.

[2019-09-17 06:39] iamvivekkaushik commented on #6
Hi @vegeta-ssaiyan, Thanks for using the package and taking the time to give your feedback. I will love to add this feature to the library soon.

[2019-09-19 00:46] peazz commented on #5
Thanks, could this be moved up the priority list please? your hard coded fonts are not obeying theme defaults on android and its causing my layouts to break.

Thanks for your work

[2019-09-19 02:08] iamvivekkaushik commented on #5
Hi @peazz, I am traveling for the past two days didn't fet much time to work on this I will try to update this library today.

[2019-09-19 03:09] vegeta-ssaiyan commented on #6
Thanks Vivek! Have a nice one!

[2019-09-19 06:09] iamvivekkaushik commented on #5
Hi @peazz, please check if this fixes your issue.

[2019-09-19 06:43] iamvivekkaushik commented on #6
Hi @vegeta-ssaiyan, I have made some changes to the library. Now you can specify for how many days you want the list to go on. You can specify `daysCount` in the constructor. Hope this solves your problem. 🙃

[2019-09-19 15:01] peazz commented on #5
Let me check it out and let you know.

[2019-09-19 15:28] peazz commented on #5
Ok, great work on the TextStyle options, might want to add some graceful deprecation on the old fields for users that need to upgrade.

So although fonts are working on both android and ios now, its not solved the width issues, any ideas what it could be?

[2019-09-20 16:03] iamvivekkaushik commented on #5
It is most likely the device resolution issue. The only way I can think of fixing this is by providing font based on device resolution.

[2019-09-20 16:04] #6 closed

[2019-09-23 13:03] peazz commented on #5
What about a different approach, how about determining the width of the screen and the orientation;

if orientation.is landscape -> selector == screen width * 0.1 ( 10 items )
if orientation.is vertical -> selector == screen width * 0.2 (5 items)

With fixed width on the selectors, it would technically make them fit on any device, regardless of resolution :)

[2019-09-23 13:47] peazz commented on #5
Thanks for all your help, I am going to mess around with coding my own solution, heres some code I come up with already that will handle dynamic item sizing

[code]

hopefully this will give you an idea of how to tackle this regardless of screen resolution

[2019-09-23 23:37] peazz commented on #5
I can confirm, with a bit more fleshing out the above code works perfectly to retain selector sizes, have a play - i hope it helps.

[2019-09-24 07:38] iamvivekkaushik commented on #5
thanks for the input, I will try to fix this width issue as soon as I get some time on my hands. If you want you can contribute to this library.

[2019-09-24 14:26] peazz commented on #5
How am I able to contribute and submit merge requests?

[2019-09-24 14:57] iamvivekkaushik commented on #5
Easy, fork this repo, make changes to it and create a pull request.

[2019-09-26 18:45] Jean-Alves opened #8 "change format locale"
how do i change the format language, for example, i'm from brazil, how do i show up the week in brazilian format

[2019-09-27 14:28] rogermedeirosdasilva commented on #8
Hi man, I added the locale parameter for the correct translation. I believe it is not published in the pub yet.

[2019-09-27 16:44] iamvivekkaushik commented on #8
Hi @Jean-Alves, I have published a new version with the option to specify a locale. And thanks @rogermedeirosdasilva for your contribution.

[2019-09-29 09:38] #8 closed

[2019-09-30 13:50] istepler opened #9 "Locale data has not been initialized"
Hi, thanks for very good library. But I have the issue. I am new in Flutter, so maybe doing smth wrong.

Implemented the last library version with locale, but get an error

════════ Exception caught by widgets library ═══════════════════════════════════════════════════════
The following LocaleDataException was thrown building DateWidget(dirty):
Locale data has not been initialized, call initialize

[2019-09-30 14:46] iamvivekkaushik commented on #9
Hi @istepler, thanks for letting me know about the issue. You aren't doing anything wrong, I forgot to initialize the DateFormatting in the previous version. I have fixed the issue and will publish it now.

[2019-09-30 21:42] istepler commented on #9
Thanks! Very quick work

[2019-09-30 22:02] #9 closed

[2019-10-02 23:53] mrwwalmsley opened #10 "Select dates from the past"
**Is your feature request related to a problem? Please describe.**
I am wanting to use this fantastic widget to select dates from the past. At present it seems to only work for future dates.

**Describe the solution you'd like**
Perhaps you could add a stateDate parameter that is set to today by default.

**Describe alternatives you've considered**
Fork the code and add the feature.

**Additional

[2019-10-03 18:00] iamvivekkaushik commented on #10
Hi @mrwwalmsley, if you want the date to start at some previous time, then you can just pass that date to the constructor.

[code]

Instead of date.now() you can pass any date and the calendar will start from that particular date.

[2019-10-05 16:22] iamvivekkaushik commented on #10
Hi @mrwwalmsley, can you confirm if this resolves your issue?

[2019-10-07 15:14] iamvivekkaushik commented on #10
I am closing this issue.

[2019-10-09 08:59] SpajicM opened #11 "Make selected date always the middle one"
Hi, I'd like to make it so that if you have a timeline with 7 days, selected date is always in the middle (fourth day), and you slide left/right between them.

[2019-10-14 04:08] mrwwalmsley commented on #10
Sorry for the late reply, I'm just getting on to implementing this functionality, and it doesn't seem to be working as I would like.

I want to set the current date to today... but allow the user to scroll back to select a day in the past.

[2019-10-14 07:37] iamvivekkaushik commented on #11
Hi @SpajicM, this is a different UI than then one I have created. It's a good idea to implement. If I get time to work on it I will add this. It can take a while though.

[2019-10-18 01:43] Sub6Resources commented on #11
I created a fork that centers the selected date (you can use it at https://github.com/Sub6Resources/DatePickerTimelineFlutter). @iamvivekkaushik I would open a pull request, but I added quite a few breaking changes. If you happen to review my commit and see that the changes are desirable, I can open a pull request.

[2019-10-18 13:53] SpajicM commented on #11
![20191018_154442](https://user-images.githubusercontent.com/21988220/67100132-6e1db900-f1bf-11e9-8b69-a0bd5729a732.gif)
Not working as expected.

[2019-10-18 14:03] iamvivekkaushik commented on #11
I am really busy these days and have almost no time to work on this. @Sub6Resources since your version is breaking changes I will take a look at your version of the code and make changes to this accordingly.

[2019-10-30 12:13] mohammadamir98 opened #15 "Persian(Jalali) Calendar"
Is it possible for you to add a Persian calendar option to it?
Example to a simple Persian calendar:
https://pub.dev/packages/persian_datepicker#-readme-tab-

[2019-11-01 14:20] psygo opened #17 "Using `notifyListeners()` inside `onDateChange` not working"
**Describe the bug**

Whenever the user changes the calendar date, something should happen in my program. At least a class I created to store my screen's data should change. In order to do so, I'm calling a method that changes the internal data and then calling `notifyListeners()` to update other fields. However, if I use `notifyListeners()`, the selected date on the calendar doesn't change; the d

[2019-11-01 17:02] psygo commented on #17
I'm leaning more and more on blaming the interaction of `setState` and `notifyListeners`. After wrapping the `Container` from the `DatePickerTimeline` widget source code and replacing `widget.currentDate` by a `Consumer<>` with `data.currentDate` (and adding `notifyListeners`), everything seems to work fine.

The only problem I'm facing is that I keep on receiving:

[code]

which supposedly comes

[2019-11-02 09:53] iamvivekkaushik commented on #17
I am not sure why this is happening. onDateChange is called after data has been changed which should change the background to respective date.

[2019-11-02 09:55] iamvivekkaushik commented on #15
I don't have much information about Persian calendar. If you want to change language you can do that by providing the locale.

[2019-11-03 06:42] mohammadamir98 commented on #15
No the language isn't the problem.
The only thing needed to be done is the conversion.
For example today(September 3rd 2019) => Aban 12th 1398, it's just simple math.
I could also provide you a convertor of the dates or you could help me create a function in your code for this purpose.

[2019-12-07 08:56] topex-psy opened #19 "please add minDate & maxDate option"
**Is your feature request related to a problem? Please describe.**
Yes, I need to set min & max dates to show in the list, not confused with `currentDate`. For example, I want today must be the max date, thus user can only scroll to past dates and prevent user from selecting future dates.

**Describe the solution you'd like**
Please add `minDate` and `maxdate` in the constructor as optional.

**De

[2019-12-07 09:05] iamvivekkaushik commented on #19
Hi, I don't understand the issue you are having. You can already set a max date by passing daysCount to constructor. and currentDate is always the starting point.

[2019-12-08 11:53] topex-psy commented on #19
That's the issue. `currentDate` is represent to selected date, right? So it should not the starting point. Let say `currentDate` in the constructor is set to `DateTime.now()`, but I want users be able scroll to the past dates like yesterday and more. Maybe add `daysPastCount` option, please.

[2019-12-08 12:00] topex-psy commented on #19
Or would you give me code example to achieve my purpose?

[2020-01-12 21:48] hinterlandsupplyco commented on #19
I would like this too? How is it possible to select past dates?

[2020-01-12 21:51] hinterlandsupplyco commented on #10
Any update on this? Can this PR #12 get merged in please?

[2020-01-14 13:00] iamvivekkaushik commented on #10
I had no time to implement this, #12 have it implemented, you can use that version until it gets merged.

[code]

[2020-01-15 00:01] topex-psy commented on #19
I did fork this repo for that purpose. I have better version included in my app, but I didn't commit it to this fork repo. If you don't mind, here is it:
https://github.com/topex-psy/DatePickerTimelineFlutter

[2020-01-15 00:08] #19 closed

[2020-02-11 17:01] LucssCarvalho opened #21 "add locale 'pt-br'"

[2020-02-11 19:42] #21 closed

[2020-02-13 20:33] coolbeatz71 opened #22 "Add button to slide back to Today's date"
### Is your feature request related to a problem? Please describe.
I want to ask if the package has the feature where we can have a button to `automatically` slide back straight to today's date after sliding to some date far away from today's one.

### Describe the solution you'd like
If the feature does not exist, please I am requesting to add it.

### Describe alternatives you've considered
If t

[2020-02-15 09:53] iamvivekkaushik commented on #22
Hi @coolbeatz71, this package currently doesn't have such a feature. I will add the option to achieve this.

[2020-02-17 16:28] coolbeatz71 commented on #22
Thank you @iamvivekkaushik , It's gonna be better to maybe expose a `public` method that can achieve this.

[2020-02-29 05:07] the-deadshot opened #24 "selection color is not changing on date selection"
when i am using setState() date is changing but selection color is not changing. if i am doing something wrong please let me know.

 child: DatePickerTimeline(
                      DateTime.now(),
                      onDateChange: (date) {

                        setState(() {
                          _date = date;
                        });
                      },

[2020-02-29 07:27] iamvivekkaushik commented on #24
change `DateTime.now()` with the `date` variable.

[code]

[2020-02-29 07:29] #24 closed

[2020-02-29 07:55] the-deadshot commented on #24
@iamvivekkaushik thank you very much its working and thanks for your quick reply.

[2020-03-07 12:19] ShaheryarMalik007 opened #25 "Minimum and maximum date limmits"
can not select dates previous than current date, plus there shall be a min and max limmit like other calendars

[2020-03-15 11:33] HannHank commented on #10
I tried to pass the date like this `DateTime.now().add(Duration(days: -10)` to get the last week, but still see future dates.

[2020-03-25 10:47] Mallington commented on #10
@HannHank Did you find a fix for this?

[2020-03-25 10:54] HannHank commented on #10
@Mallington nope, still facing that problem.

[2020-03-25 11:13] Mallington commented on #10
@HannHank I have posted a fix here: https://github.com/Mallington/DatePickerTimelineFlutter. You can modify your pubspec.yaml to use:
[code]
I'd recommend forking the repository for long term use, just in case I delete it 😄

[2020-03-25 11:26] HannHank commented on #10
@Mallington  thanks 👍

[2020-03-25 11:54] Mallington commented on #10
@HannHank There was an issue with my original commit. I have moved to setting the startDate in the constructor
See Example:
[code]

[2020-03-30 18:54] iamvivekkaushik commented on #25
Hi, I have updated this library to limit the minimum and maximum dates.

[2020-03-30 18:54] #25 closed

[2020-03-30 18:56] iamvivekkaushik commented on #22
Hey, I have added a `DatePickerController`, you can use it to move the timeline to any date.

[2020-03-30 18:56] #22 closed

[2020-03-30 18:58] iamvivekkaushik commented on #10
Hi everyone, this option is now added to the library, just specify the `startDate` and the calendar will start from that particular date. I have also added a controller to move to any specific date.

[2020-03-30 18:58] #10 closed

[2020-03-30 19:00] iamvivekkaushik commented on #5
Hi, you can now specify the width of each Date item and fit as many items as your screen will allow.

[2020-03-30 19:00] #5 closed

[2020-03-30 19:01] iamvivekkaushik commented on #17
This seems to be working fine make sure you are implementing it correctly.

[2020-03-30 19:01] #17 closed

[2020-04-13 12:24] kristimeculi opened #28 "JumpToSelection"
**Is your feature request related to a problem? Please describe.**
The problem is in the beginning because users must go in the selected date when the DatePicker has appeared and for the moment we only can go in the selected date after we use _controller.jumpToSelection();  in DatePicker View.

**Describe the solution you'd like**
Maybe we can call _controller.jumpToSelection() in initState

[2020-04-22 17:48] Ludwigvsch commented on #28
Hi, I have the same problem but would love to use this package.
How can I implement this?

[2020-04-22 18:06] iamvivekkaushik commented on #28
Hi, I haven't yet looked at the issue. I Will update once I do. Currently, you can't use the controller inside `initState()`

[2020-04-22 18:17] Ludwigvsch commented on #28
Hey thanks for the fast response, how can I use it? Can you provide me an example?

[2020-04-23 21:22] SpajicM commented on #28
I had the same issue, fixed by using `WidgetsBinding.addPostFrameCallback(() {})`

[2020-04-23 21:24] Ludwigvsch commented on #28
Can you give me an example of where to use this?

[2020-04-24 14:18] Ludwigvsch commented on #28
@SpajicM where do I need to use this is in my code?

[2020-05-11 17:56] amith-patil commented on #28
I noticed a weird issue where the jumpToSelection() function jumps to the date + 1 field on first run.
for example, if the date is 11th, I call the jumpToSelection() via the controller using a button, the timeline will jump to the 12th. any idea why?

code is below :
[code]

[2020-05-11 18:07] SpajicM commented on #28
@amith-patil Timezones.

[2020-05-11 18:11] amith-patil commented on #28
I'm not sure how that comes into the picture. Could you elaborate?

[2020-05-11 18:19] SpajicM commented on #28
@amith-patil alright, attach an example, I will look into it, but those off by one errors for me were often caused by time offset.

[2020-05-11 18:45] amith-patil commented on #28
I'm inclined to believe it's got something to do with the timestamp, because at midnight right now, it's jumping to the correct date.

![ezgif-3-d1001ca39879](https://user-images.githubusercontent.com/51911194/81598827-87998300-93e5-11ea-9dce-313206427955.gif)

[2020-05-11 18:47] amith-patil commented on #28
also found this weird issue with the startDate

![ezgif-3-3c6cb3f8f3af](https://user-images.githubusercontent.com/51911194/81599028-d3e4c300-93e5-11ea-9b4b-fcdc723f441d.gif)

[2020-05-11 18:52] SpajicM commented on #28
To fix it, any set time to 00:00 on any DateTime instance you are using.

[2020-05-11 18:57] amith-patil commented on #28
gotcha. I figured that's where the issue was.

[2020-05-11 19:17] iamvivekkaushik commented on #28
Thanks for bringing this to the attention, I'll take a look at it and update you guys here.

[2020-05-11 19:20] amith-patil commented on #28
Hey Vivek, I'm seeing the jump to be very unpredictable with the offset, I've tried to set the time to 00:00:00, but the start date still moves right to the next date.

[2020-05-11 19:25] iamvivekkaushik commented on #28
Yes please, create a new issue.

[2020-05-11 19:36] amith-patil opened #29 "JumpToSelection() offset has issues."
**Describe the bug**

the JumpToSelection() function takes the time into consideration causing offset values to change during different times.

**To Reproduce**

Create a startDate to be of the format "YYYY-MM-DD 00:00:00"
select initialSelectedDate as DateTime.now()
over the course of the day, on calling the JumpToSelection() for the first time via a separate button, the timeline will jump from t

[2020-05-12 06:22] iamvivekkaushik commented on #29
Hi Amith, can you remove the width argument from the DatePicker widget and check if you still have this issue.

[2020-05-12 06:38] amith-patil commented on #29
I removed the width for the datepicker widget and I still see the problem,

So yesterday night around 1 am when I was working on it, it showed the correct date jump, now it's showing the 13th instead of the 12th. you can repro this by changing the date of the phone .

[2020-05-12 06:42] amith-patil commented on #29
I think it's got something to do with the timestamp on the _currentDate item.

[2020-05-12 09:22] iamvivekkaushik commented on #29
Okay, thanks for the insight.

[2020-05-13 19:52] ShaheryarMalik007 commented on #25
Thanks

[2020-05-17 15:05] 3ace opened #31 "initialSelectedDate as an optional parameter"
is it possible to change the `initialSelectedDate` parameter as optional parameter? I would like to display the date picker without any date preselected.

I've tried initialize DatePicker without `initialSelectedDate` but it produce this following error

[code]

quick view within the code, it seems `initialSelectedDate` is used to initialize `_curDate` variable that is being used throughout the co

[2020-05-18 06:46] iamvivekkaushik commented on #31
No, `initialSelectedDate` was supposed to be optional, I must've forgotten to add the validation for null. Thanks for fixing it for me. I'll merge your PR.

[2020-05-18 06:52] #31 closed

[2020-05-21 15:47] Akora-IngDKB opened #35 "Provide a `lastDate` option"
It will be nice to be able to provide a last date. It will be an efficient option to prevent performance issue on low end devices due to the infinite scrolling.

[2020-05-21 15:56] iamvivekkaushik commented on #35
Hi, there is a last date option already available. You can pass the number of days that you wanna show after the start date `daysCount` in the constructor.

[2020-05-21 15:56] #35 closed

[2020-05-21 15:58] Akora-IngDKB commented on #35
Oh how did I miss that 😆 .

[2020-06-04 12:20] Ludwigvsch commented on #28
How do I use the controller to see the right date when the screen loads, what argument needs it in init State, and how to use it, please help...

[2020-06-04 12:30] amith-patil commented on #28
You can use the controller to jump to the selected date when the screen loads

[2020-06-05 16:41] Ludwigvsch commented on #28
Thats the error message when using jumpToSelection

The method 'jumpToSelection' was called on null.
Receiver: null
Tried calling: jumpToSelection()

When the exception was thrown, this was the stack
#0      Object.noSuchMethod  (dart:core-patch/object_patch.dart:51:5)
#1      _Main_pageState.build.<anonymous closure>
package:day_planner/screeens/mainpage.dart:218
#2      _InkResponseState._handle

[2020-06-18 00:18] a7med7asan15 opened #37 "Add disabled option for specific dates"
Hi There,
I want to make a specific date to be disabled in the middle of enabled dates. How this could be a possibility?

[2020-06-25 09:08] nidhinmahesh opened #38 "Text color not changing on dark mode"
**Describe the bug**
Dark mode do not change the black text color of dates. Also there is no option to change color of dates which are not selected.

[2020-06-25 09:16] iamvivekkaushik commented on #38
Hi @nidhinmahesh, This currently does not support the dark mode. However, you can override the text color for both selected or non selected items. Check the constructor and pass these parameters values

[code]

[2020-06-25 09:16] #38 closed

[2020-07-28 13:40] rednikisfun commented on #28
I have an issue which I think would be suitable here. I am trying to call _datePickerController.animateToDate(DateTime.now()); or _datePickerController.jumpToSelection(); in initState of the page, but get

DatePickerController is not attached to any DatePicker View.
'package:date_picker_timeline/date_picker_widget.dart':
Failed assertion: line 201 pos 12: '_datePickerState != null'

I only show da

[2020-08-15 09:20] #37 closed

[2020-08-15 09:25] iamvivekkaushik commented on #28
@rednikisfun you can use this

[code]

[2020-08-15 09:27] iamvivekkaushik commented on #29
Hi @amith-patil, I've fixed the issue you were facing and released a new version. I am closing this issue.

[2020-08-15 09:27] #29 closed

[2020-08-15 09:28] iamvivekkaushik commented on #28
This issue is now fixed in the latest version.

[2020-08-15 09:28] #28 closed

[2020-08-19 08:39] pjjy opened #39 "Hello how to implement a last date?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-19 09:22] vksknow commented on #39
Check this...
![date_picker](https://user-images.githubusercontent.com/26052569/90616859-99cc5e00-e22b-11ea-8a17-bdf4fae646ca.JPG)

[2020-08-20 02:03] pjjy commented on #39
It appears to be a first date.
i think to have like this
initialDate:  DateTime(2020,8,21),
lastDate:  DateTime(2020,8,30),

something like that

[2020-08-21 11:02] chschroe opened #40 "Jump to specific date?"
Hey guys,

first we really enjoy your work and love the datepicker timeline.

We are searching for a feature to jump to a specific date.
Example: timeline is on 01.01.2020, users press a button with "12.12.2020" and the timeline jumps to this date immediately.

Do you have any idea or implementation for this?
Would be very helpful for lots of users we think.

Thanks for your attention.

[2020-08-21 11:31] #40 closed, assigned to nobody

[2020-09-03 10:44] hennonoman opened #42 "style the selected date"
I can change the style of the unselected date but how to style the selected date?

[2020-10-20 21:43] PavanMS007 commented on #11
Hey, requesting for the same feature. To fix the selected date as center. Kindly help out by adding that feature.

[2020-10-20 21:44] PavanMS007 commented on #11
Hey, requesting for the same feature. To fix the selected date as center and keep the initial date as last. Kindly help out by adding that feature.

[2020-10-23 19:19] flareso opened #43 "Weeks / Months Support"
Is it possible to pick type of the time?

for example. type.daily / type.weekly / type.monthly

[2020-10-23 22:04] dvird commented on #43
@iamvivekkaushik is this project still maintained by you?

[2020-10-24 09:21] iamvivekkaushik commented on #43
Yes, In my free time I still work on it. I don't understand what you mean by "pick type of time".

[2020-10-24 09:26] dvird commented on #43
Great !
See here some did pull request for month selection.
im mean we'll being able to selection the presentation type like calendar. daily selection (which is what we've right now), weekly selection (weeks scroll view), and months

[2020-10-24 09:32] iamvivekkaushik commented on #43
No, it does not support that.

[2021-01-15 19:56] eceylan26 opened #45 "previous days"
Is it possible to implement that we can select the previous days by swiping right?

[2021-01-17 06:08] iamvivekkaushik commented on #45
No, not with the current implementation.

[2021-01-29 17:26] EduardoAirton commented on #45
actually, it is, the initial date you can set as 'DateTime.now().subtract(Duration(days: 30)),' this will show the last month, the  initialSelectedDate you set as DateTime.now(), in the jumpToSelection function you add this line _datePickerState._currentDate = DateTime.now(); and add the function to your init state _controller.jumpToSelection(context), its gonna show to last 30 days that you can s

[2021-01-29 17:46] EduardoAirton commented on #45
DatePicker(
                DateTime.now().subtract(Duration(days: 30)),
                height: height * 0.1,
                width: width * 0.19,
                controller: _controller,
                initialSelectedDate: DateTime.now(),
                locale: "pt-BR",
                onDateChange: (date) {
                  setState(() {
                    print("Data selecionada $date");

[2021-01-29 17:46] EduardoAirton commented on #45
`DatePicker(
                DateTime.now().subtract(Duration(days: 30)),
                height: height * 0.1,
                width: width * 0.19,
                controller: _controller,
                initialSelectedDate: DateTime.now(),
                locale: "pt-BR",
                onDateChange: (date) {
                  setState(() {
                    print("Data selecionada $date");

[2021-01-29 17:47] EduardoAirton commented on #45
`DatePicker(
                DateTime.now().subtract(Duration(days: 30)),
                height: height * 0.1,
                width: width * 0.19,
                controller: _controller,
                initialSelectedDate: DateTime.now(),
                locale: "pt-BR",
                onDateChange: (date) {
                  setState(() {
                    print("Data selecionada $date");

[2021-01-29 17:47] EduardoAirton commented on #45
`DatePicker(
                DateTime.now().subtract(Duration(days: 30)),
                height: height * 0.1,
                width: width * 0.19,
                controller: _controller,
                initialSelectedDate: DateTime.now(),
                locale: "pt-BR",
                onDateChange: (date) {
                  setState(() {
                    print("Data selecionada $date");

[2021-01-29 17:47] EduardoAirton commented on #45
`void jumpToSelection(var context) {
    assert(_datePickerState != null,
        'DatePickerController is not attached to any DatePicker View.');

    // jump to the current Date
    _datePickerState._currentDate = DateTime.now();
    _datePickerState._controller.jumpTo(
        _calculateDateOffset(_datePickerState._currentDate) -
            MediaQuery.of(context).size.width * 0.05);
  }`

[2021-02-20 16:30] vpxoxo opened #48 "Jump back to today's date"
I was wondering if we can add a button and on tap that button can make the selected date back to Today's date?
Or if this feature is already available? How can I implement that?

Vivek many thanks for the package! very useful!!

[2021-05-15 08:03] william-levi commented on #40
Hi @iamvivekkaushik  need help here.. the animateToDate is working but the date is not highlighted.

https://user-images.githubusercontent.com/25534399/118352982-f2e8d880-b596-11eb-8806-7328ed35a777.mp4

also how to change the offset so that the selected date will be always on the center

[2021-05-15 08:26] iamvivekkaushik commented on #40
AnimateToDate only animates scrolls to a date that you passed. Also there is currently no way for the selected date to be always in center.

[2021-05-15 08:38] william-levi commented on #40
@iamvivekkaushik  thanks , no worries with the centering.
But how to make the selected date highlighted or isSelected ? when clicking on a specific button.

[2021-05-15 08:39] william-levi opened #53 "What's the use of setDatePickerState ? and how to use it"
Actually I'm trying to set the date programatically by clicking from a button

[2021-05-15 09:18] iamvivekkaushik commented on #53
I've added a new function to the controller `setDateAndAnimate` you will need to use the github version of this repo in your project.

[2021-05-15 09:32] william-levi commented on #53
@iamvivekkaushik  thanks ! nice package by the way :)

[2021-05-15 15:52] iamvivekkaushik commented on #53
Thank you!

[2021-05-15 15:52] #53 closed

[2021-05-19 04:01] developerflutter commented on #40
"DatePickerController is not attached to any DatePicker View" - when calling this animateTo function in initstate!

[2021-05-30 22:05] ChineOnw commented on #53
Unfortunately the UI does not change. When I debugged it the variable has the new value, but the UI is not changing.

[2021-05-30 22:17] ChineOnw commented on #53
I just wrapped the method call inside `setState()` and it works fine.

[2021-07-07 19:39] pcostigan opened #54 "SelectedTextColor was responding to user's entry"
**the bug**
In the constructor, the parameter 'selectedTextColor' was not responding to the user's entered choice.

Line 72 was:  'this.selectedTextColor = Colors.white,'

Changing line 72 to ' this.selectedTextColor = selectedTextColor ?? Colors.white,' and
line 25 to  'final Color? selectedTextColor;' fixed the issue.

Using date_picker_timeline: ^1.2.3

[2021-07-15 05:16] snehamadda commented on #45
is it woking for you? if yes then what could be inside this method `_calculateDateOffset`?

[2021-07-15 05:19] snehamadda opened #55 "Enable previous month"
**Enable previous month**
Can you add a feature to Enable the previous month, that would be a great help?

**The solution you'd like**
If you can give `numberOfPreviousMonths` as an option It is very useful to enable previous months too. If you can add a feature to Enable the previous month, that would be a great help?

[2021-07-15 15:46] EduardoAirton commented on #45
Yeah, it's working fine!!

`double _calculateDateOffset(DateTime date) {
    final startDate = new DateTime(
        _datePickerState.widget.startDate.year,
        _datePickerState.widget.startDate.month,
        _datePickerState.widget.startDate.day);

    int offset = date.difference(startDate).inDays;
    return (offset * _datePickerState.widget.width) + (offset * 6);
  }`

[2021-07-29 02:34] WangHansen commented on #42
Same here, would be really nice if we can change how it looks.
I would like to achieve something like this:
![截屏2021-07-28 下午10 33 43](https://user-images.githubusercontent.com/15679461/127422593-02feb180-6e57-46c6-973d-b53100b2665f.png)

[2021-08-02 18:26] #54 closed

[2021-08-16 20:03] gabera commented on #11
one more vote for this feature. It would be nice if the selected date was in the center or at least visible

[2021-08-25 17:47] hassanrehman01398 opened #57 "Multiple date selection"
Multiple date selection feature should be added in this so that can user can select multiple dates at a time.Thanks

[2021-09-13 16:01] Sankaranarayanan-P opened #58 "Bottom Overflowed by 4.0 Pixel on Small Device"
I tested your package, I like that design very much. But when I test the package on a small device. It's showing a overflowed error. So I hope you can fix it.

[2021-10-20 07:03] chrisvidal commented on #48
you can attach a controller `controller: _datePickercontroller,`, then animate to the date you want `_datePickercontroller.animateToDate(date);`

[2021-10-21 05:37] Beto-Beto-Salamander opened #59 "Unselected card style"
Hello,
Can we change the unselected color for the card ?
I want to make it white, but it seems the default color is transparent

Thank you

[2021-10-21 06:15] Beto-Beto-Salamander opened #60 "Animate to page not working on iOS"
**Describe the bug**
Animate to page not working, it just scroll to the given date

**To Reproduce**
Here is the code
[code]

**Expected behavior**
21 October should be active date

**Recording**
https://user-images.githubusercontent.com/77736118/138221572-91e3c9c0-19f3-434e-8358-ac71675ce777.mov

**Smartphone (please complete the following information):**
 - Device: iPhone SE 1st Gen
 - OS: iOS 1

[2021-10-30 09:27] dpatrongomez commented on #55
How can I make the view move to the current day?

[2021-11-02 11:03] alexaung opened #61 "Add widget into date"
I am looking for the way to add two color circle contain to who that there is event. So that user will know that there are events in that date. Then click the date show the event detail under the timeline.

Is there a way to add widget into date?

[2021-12-07 16:34] pedromorgan commented on #45
Seems strange that it don't have a minimum date and a strange workaround instead ..

[2021-12-07 21:51] pedromorgan opened #63 "Is this project dead ?"
seems nothing happened since spring, and loads of PR's etc ?

is the maintainer around ? is there more than one commiter ?

[2022-01-04 11:11] large commented on #63
I hope this nice widget is not abandon @pedromorgan

Any updates from any contributors?
@iamvivekkaushik, @bradintheusa , @3ace , @rogermedeirosdasilva , @psygo , @juampiq6

[2022-01-04 11:13] iamvivekkaushik commented on #63
Been busy with work and life. I'm planning to pick it back up from next month.

[2022-01-04 11:17] large commented on #63
@iamvivekkaushik  great! Thank you for the update!

[2022-01-26 21:13] amiraaBetar commented on #28
Can you explain to me how i can fix this problem because it dosen't work with me

[2022-01-29 15:09] #55 closed

[2022-02-10 08:43] Meet-05 commented on #28
Thanks! this worked.

[2022-02-19 04:16] blackbeario commented on #45
Thanks for the help on this @EduardoAirton! I found that if you don't add WidgetsBinding in initState, you will get the "DatePickerController is not attached to any DatePicker View" assertion error from the jumpToSelection() method because the DatePicker hasn't been added to the widget tree yet.
[code]

With null-safety:
[code]

[2022-03-16 05:12] gamcho3 opened #65 "why don't you do focus center when date clicked?"
**Is your feature request related to a problem? Please describe.**
I want to focus center when date clicked and focus initialSelectedDate when entered page.

[2022-03-16 07:24] gamcho3 commented on #28
Do you know how to focus center?

[2022-03-29 01:21] dosjota commented on #45
Is it not possible to add a start and end date?
`FlutterDatePickerTimeline(
    startDate: DateTime(2020, 07, 01),
    endDate: DateTime(2020, 12, 30),
    initialSelectedDate: DateTime(2020, 07, 24),
    onSelectedDateChange: (DateTime dateTime) {
        print(dateTime);
    },
  )`

[2022-03-30 02:38] gamcho3 opened #66 "when i move to date with animateToDate, selection color still remain. How can I fix it?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-04-06 14:02] ajinzrathod commented on #55
It shows

How do I Solve this?

[2022-04-06 14:21] ajinzrathod opened #67 "Show dates in reverse order"
This is  my code
[code]

This code shows me Dates from **April 1st** to **April 6th**,
But what I want is to see dates in **reverse order**,

April 6 must be displayed first and then 5, 4, 3, 2, 1

[2022-04-06 14:44] ajinzrathod commented on #67
If my pull request is not accepted, you can see how to reverse the days in this commit

https://github.com/ajinzrathod/DatePickerTimelineFlutter/commit/b0ad1ed32ac22c674d86a6f1224e253d3013ef1b

After changing the actual library file,
do this,

[code]

and it will show dates in reverse order

[2022-04-06 14:44] #67 closed

[2022-08-10 21:40] jbryanh commented on #45
Hoping to clarify some of this.

1. Example of a DatePicker that scrolls backwards 365 days and initial selected date is yesterday:

`DatePicker(
                  DateTime.now().subtract(const Duration(days: 365)),
                  controller: _datePickerController,
                  initialSelectedDate: DateTime.now().subtract(const Duration(days: 1)),
                  selectionColor: Grid.gre

[2022-11-08 15:17] neerajapex commented on #66
I don't know If you have got the solution. But I faced the same problem and solved by these methods.
1. I used the fixed version of this library.
[date_picker_timeline_fixed](https://pub.dev/packages/date_picker_timeline_fixed)

2. Then called the 'setDateAndAnimate(_updatedDate)' method of DatePickerController inside 'setState(...) whenever I need to change the date.
setState(() {
    _datePicker